/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Proxima-Nova", Helvetica, sans-serif;
  text-decoration: none;
  line-height: 1.5;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
section {
  display: inline-block;
  width: 100%;
  max-width: 1000px;
  margin-top: 30px;
}
header {
  width: 100%;
  height: auto;
  padding: 2% 0;
  box-shadow: 0 6px #ce40b8;
  background-image: url(images/lasers.gif);
  background-position: bottom right;
  background-repeat: none;
  background-color: #ff50e3;
  color: #ce40b8;
  letter-spacing: 1px;
}
.logo {
  width: 100px;
  position: absolute;
  left: 0;
}
.kern {
  margin: 0 4px 0 -6px;
}
.container {
  padding: 0;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  height: auto;
  position: relative;
}
.normal {
  float: left;
}
#videoCanvas {
  width: 94%;
  min-height: 400px;
  margin: 0 3%;
}
.quarter {
  width: 25%;
  display: inline-block;
}
.half {
  width: 50%;
  height: 500px;
  display: inline-block;
}
h1 {
  font-size: 5em;
  text-transform: uppercase;
  font-weight: 700;
}
h2 {
  font-size: 1.5em;
  text-transform: uppercase;
}
p {
  font-size: 1.2em;
}
form {
  width: 100%;
}
input[type="radio"] {
  -webkit-appearance: none;
  border: none;
  width: 30%;
  margin: 0px !important;
  position: relative;
  opacity: .9;
  border-radius: 10px;
  height: 80px;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #2d2b2e;
  transition: all 0.2s ease-in;
}
input[type="radio"]:hover {
  outline: none;
  opacity: 1;
}
input[type="radio"]:checked {
  outline: none;
  opacity: 1;
  background-color: #ce40b8;
  color: #2d2b2e;
}
input[type="radio"] + label {
  position: absolute;
  margin: 0 auto;
  margin: 15px -64px;
  color: white;
  font-size: 2em;
}
.donate {
  font-weight: 700;
  font-family: inherit;
  font-size: 1.5em;
  color: white;
  width: 96%;
  margin: 4% 2%;
  height: auto;
  padding: 20px;
  background-color: #52ff8c;
  text-transform: uppercase;
  border-radius: 10px;
  outline: 0;
  border: transparent;
  transition: all 0.2s ease-in;
  letter-spacing: 1px;
  box-shadow: 0 6px 0 #46cc6e;
}
.donate:hover {
  background-color: #46cc6e;
}
.side {
  margin: 0 auto;
  width: 96%;
  height: auto;
  position: relative;
  border-radius: 10px;
  margin: 0 2%;
  padding: 10px 0;
  color: #2d2b2e;
}
#about {
  padding-left: 0px;
  text-align: left;
}
#controls {
  margin: 4% 2%;
}
.control {
  opacity: .8;
  width: 30%;
  margin: 5px 0;
}
.up {
  display: block;
  margin: 0 auto;
}
.left {
  transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  /* IE 9 */
  -webkit-transform: rotate(-90deg);
  /* Opera, Chrome, and Safari */
}
.down {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  /* IE 9 */
  -webkit-transform: rotate(180deg);
  /* Opera, Chrome, and Safari */
}
.right {
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Opera, Chrome, and Safari */
}
a .control:hover {
  opacity: 1;
}
@media screen and (max-width: 800px) {
  header {
    background-image: none;
  }
}
